.container {
  width: 100vh;
  height: 100vw;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100vh);
  overflow-y: scroll;
  position: absolute;
}

.wrapper {
  width: 600vw;
  transform: rotate(90deg) translateY(-100vh);
  height: 100%;
  overflow-x: hidden;
}
