.horizontal-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
  height: 100vh;
}

.scroll-container {
  display: inline-flex;
  height: 100%;
  position: absolute;
  will-change: transform;
}

.scroll-div {
  height: 100%;
  width: 100%;
  position: relative;
}
