.canvas-container {
  width: 100vw;
  height: 100vh;
}
.message-box {
  width: 150px;
  height: 75px;
  background-color: black;
  color: #fff;
  padding: 20px;
  position: relative;
  margin: 40px;
  float: left;
}

.message-box:after {
  content: " ";
  position: absolute;
  right: 42.5%;
  bottom: -14px;
  border-top: 15px solid black;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: none;
}
